

/*------------HEADER-------------*/
.navbar-agivr {
	background-color: #e3f2fd;
}

.nav-item a {
	color: black !important;
}

.nav-item.active a {
	font-weight: bold;
	text-decoration: underline;
}

.nav-item a:hover {
	text-decoration: underline;
}


/*------------CONTENT-------------*/

.bg-aside {
	background-color: #ffdd76;
}
.evenements {
	background-color: #b6f5da;
}
.citation {
	background-color: #ffdd76;
}
.volunteering {
	background-color: #b6f5da;

}
/*------------ASSOCIATION-------------*/
h5.association {
	font-size: 2em;
}

.association {
	font-size: 1.3em;
}

@media screen and (max-width: 64em) {
	.association {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 50em) {
	.association {
		font-size: 1em;
	}
}

@media screen and (max-width: 30em) {
	.association {
		font-size: 1em;
	}

	h5.association {
		font-size: 1.5em;
	}
}